.sidebar {
    display: inline-flex;
    height: 720px;
    padding: 24px 8px 462px 8px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    border-right: 1px solid #E0E0E0;
    background: #FFF;
}

.HANIL-TIMER {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    letter-spacing: -0.2px;
}

.middle-number {
    position: absolute;
    top: 744px; /* Figma에서의 Y 좌표 */
    left: 420px;
    color: #000;
    font-family: "Anonymous Pro";
    font-size: 80px;
    font-weight: 400;
    line-height: 120px;
    text-align: center;
}
